#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
################
# README
################
!*.md
################
#Source files:
################
!*.vhd
!*.v
!*.sv
################
# IP:
################
!*.bd
!*.hex
!*.xci
!*.dcp
################
# Build files
################
!*.edif
!*.xdc 
################
# Scripts
################
!*.bash
!*.sh
################
# Simulation 
################
!*.hex
!*.f
!*.tcl
!*.do 
################
# memory 
################
!*.mem
!*.coe
################
# matlab 
################
!*.pdf
!*.m
!*.tar.gz
!*.mat 
